.icon {
    display: inline-block;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    transition: 200ms all;
    margin-right: 5px;
}



.selected{
    color: white;
    filter: saturate(200%);
    transition: all;
    transition-duration: 1000;
}



.icon:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
    
}

.bug {
    background-color: #92BC2C !important;
    box-shadow: 0 0 1px #92BC2C;
    /*background-image: url(./icons/bug.svg);*/
}

.dark {
    background-color: #595761 !important;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background-color: #0C69C8 !important;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background-color: #F2D94E !important;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background-color: #FBA54C !important;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background-color: #EE90E6 !important;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background-color: #D3425F !important;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background-color: #A1BBEC !important;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background-color: #5F6DBC !important;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background-color: #5FBD58 !important;
    box-shadow: 0 0 20px #5FBD58;
}

.grass-svg{
    /*background-image: url(./icons/grass.svg) !important;*/
}

.ground {
    background-color: #DA7C4D !important;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background-color: #75D0C1 !important;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background-color: #A0A29F !important;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background-color: #B763CF !important;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background-color: #FA8581 !important;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background-color: #C9BB8A !important;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background-color: #5695A3 !important;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background-color: #539DDF !important;
    box-shadow: 0 0 20px #539DDF;
}


/*text-color*/
.bug-color {
    color: #92BC2C;
}

.dark-color {
    color: #595761;
}

.dragon-color {
    color: #0C69C8;
}

.electric-color {
    color: #F2D94E;
}

.fire-color {
    color: #FBA54C;
}

.fairy-color {
    color: #EE90E6;
}

.fighting-color{
    color: #D3425F;
}

.flying-color {
    color: #A1BBEC;
}

.ghost-color {
    color: #5F6DBC;
}

.grass-color {
    color: #5FBD58;
}

.ground-color {
    color: #DA7C4D;
}

.ice-color {
    color: #75D0C1;
}

.normal-color {
    color: #A0A29F;
}

.poison-color {
    color: #B763CF;
}

.psychic-color {
    color: #FA8581;
}

.rock-color {
    color: #C9BB8A;
}

.steel-color {
    color: #5695A3;
}

.water-color {
    color: #539DDF;
}

.grid-color{
     background-color: #f7f3f3ed;
    color: #444;
}